<li class="comment">
 
  <p>
    <b><%= link_to comment.user.username, profile_path(comment.user) %></b> | <%= comment.created_at %> | 
    Answer To:
    <% if comment.commentable_type == 'Tale' %>
      Everyone
    <% elsif comment.commentable_type == 'Comment' %>
      <b><%= link_to  comment.commentable.user.username, profile_path(comment.commentable.user) %></b>
    <% end %>
    
    <% if can?(:update, @comment) || commentowner(comment) %>
      | <%= link_to 'edit comment', edit_comment_path(comment)  %>
    <% end %>
  </p>
  
  <div class="body">
    <%= comment.body %>
  </div>
  
  <% if can? :create, Comment %>
    <p><%= link_to 'Add a Reply', new_comment_comment_path(comment) %></p>
  <% end %>
   
  <% unless comment.comments.empty? %>
    <ul class="comment_list">
      <%= render :partial => 'comments/comment', :collection => comment.comments %>
    </ul>
  <% end %>
</li>
