<p id="notice"><%= notice %></p>

<%= render 'tale', :tale => @tale %>

<% if can?(:update, @tale) || taleowner(@tale) %>
  <%= link_to 'Edit', edit_tale_path(@tale) %>
<% end %>

<h2>Comments</h2>

<% if can? :create, Comment %>
  <p><%= link_to 'Add a Comment', new_tale_comment_path(@tale) %></p>
<% else %>
  You have to be logged to add comment
<% end %>
 
<ul class="comment_list">
  <%= render :partial => 'comments/comment', :collection => @tale.comments %>
</ul>
