<p id="notice"><%= notice %></p>

<%= render 'tale', :tale => @tale %>

<% if can?(:update, @tale) || taleowner(@tale) %>
  <%= link_to 'Edit', edit_tale_path(@tale) %>
<% end %>

<h2 class="label" id="comments">Comments</h2>

<div class="post">
  <div class="post_body nicelist">

  <% if can? :create, Comment %>
    <p><%= link_to 'Add a Comment', new_tale_comment_path(@tale) %></p>
  <% else %>
    <h3>You have to be logged to add comment</h3>
  <% end %>

  <ol class="comment_list">
    <%= render :partial => 'comments/comment', :collection => @tale.comments %>
  </ol>

  </div>
</div>